<%@ WebHandler Language="C#" Class="Proxy" Debug="true" %>

// This proxy page does not have any security checks. It is highly recommended
// that a user deploying this proxy page on their web server, add appropriate
// security checks, for example checking request path, username/password, target
// url, etc.

using System;
using System.Drawing;
using System.IO;
using System.Web;
using System.Collections.Generic;
using System.Text;
using System.Xml.Serialization;
using System.Web.Caching;
using System.Runtime.Serialization;
using System.Net;
using System.Web.Script.Serialization;


/// <summary>
/// Forwards requests to a MASAS Hub resource. Uses information in
/// the proxy.config file to determine properties of the server.
/// </summary>
public class Proxy : IHttpHandler
{

    public void ProcessRequest( HttpContext context )
    {

        HttpResponse response = context.Response;

        // Get the URL requested by the client (take the entire querystring at once
        // to handle the case of the URL itself containing querystring parameters)
        string uri = context.Request.Url.Query.Substring( 1 );

        // Get token, if applicable, and append to the request
        string token = getTokenFromConfigFile( uri );

        if( !string.IsNullOrWhiteSpace( token ) )
        {
            if( uri.Contains( "access" ) )
            {
                uri = uri + "?query_secret=" + token + "&secret=" + token;
            }
            else
            {
                int idx = uri.IndexOf( "&" );

                if( !String.IsNullOrEmpty( token ) )
                {
                    if( uri.Contains( "?" ) )
                    {
                        if( idx == -1 )
                            uri += "&secret=" + token;
                        else
                            uri = uri.Substring( 0, idx ) + "&secret=" + token + uri.Substring( idx );
                    }
                    else
                    {
                        if( idx == -1 )
                        {
                            uri += "?secret=" + token;
                        }
                        else {
                            uri = uri.Substring( 0, idx ) + "?secret=" + token + uri.Substring( idx );
                        }
                    }
                }
            }
        }

        // NOTE: ActionScript URLLoader and HTTPService do not allow PUT (they allow GET, POST). 
        // To mimic a POST, many platforms allow XHTTPMethodOverride: PUT. Unfortunately that is not 
        // implemented yet on the Hub (it will be). As such, we will allow Actionscript code to do 
        // a POST with XHTTPMethodOverride: PUT and we will intercept/override it here. If your firewall 
        // does not allow PUT, this workaround here will prevent you from sending updates (PUT) to the Masas Hub.

        System.Net.HttpWebRequest req = (System.Net.HttpWebRequest)System.Net.HttpWebRequest.Create( uri );
        req.Method = context.Request.HttpMethod;
	req.UserAgent = "MASAS Esri Flex Tool Proxy - v2.0"; // for tracking by MASAS Hub 
        req.ServicePoint.Expect100Continue = false;
        req.Referer = context.Request.Headers["referer"];

        // Set body of request for POST requests 
        if( context.Request.InputStream.Length > 0 )
        {
            System.Collections.Specialized.NameValueCollection headerColl = context.Request.Headers;
            if( headerColl != null )
                if( headerColl["X-HTTP-Method-Override"] != null )
                    if( headerColl["X-HTTP-Method-Override"].ToUpper() == "PUT" ) req.Method = "PUT"; //(see note above about XHTTPMethodOverride:PUT)

            byte[] bytes = new byte[context.Request.InputStream.Length];
            context.Request.InputStream.Read( bytes, 0, (int)context.Request.InputStream.Length );
            req.ContentLength = bytes.Length;

            string ctype = context.Request.ContentType;
            if( String.IsNullOrEmpty( ctype ) )
            {
                req.ContentType = "application/x-www-form-urlencoded";
            }
            else
            {
                req.ContentType = ctype;
            }

            using( Stream outputStream = req.GetRequestStream() )
            {
                outputStream.Write( bytes, 0, bytes.Length );
            }
        }
        else
        {
            req.Method = "GET";
        }

        // Send the request to the server
        System.Net.WebResponse serverResponse = null;
        try
        {
            serverResponse = req.GetResponse();
        }
        catch( System.Net.WebException webExc )
        {
            //[pjb] Catch the exception, grab some info from it repackage it, return. 

            HttpWebResponse httpWebResponse = (HttpWebResponse)webExc.Response;
            string server = httpWebResponse.Server;
            string responseUri = context.Request.Url.Query.Substring( 1 );  //httpWebResponse.ResponseUri.ToString();       
            string message = webExc.Message;
            string source = webExc.Source;
            int statusCode = Convert.ToInt32( httpWebResponse.StatusCode );
            string statusDesc = httpWebResponse.StatusDescription.ToString();

            ProxyErrorWebResponse masasResponse = new ProxyErrorWebResponse( server, responseUri, message, source, statusCode, statusDesc );
            JavaScriptSerializer serializer = new JavaScriptSerializer();
            string jsonString = serializer.Serialize( masasResponse );


            response.StatusCode = 200;
            response.ContentType = "application/json";
            response.CacheControl = "no-cache";
            response.Write( jsonString );
            response.End();
            return;

            //response.StatusCode = 500;
            //response.StatusDescription = webExc.Status.ToString();
            //response.Write(webExc.Response);
            //response.End();
            //return;
        }

        // Set up the response to the client
        if( serverResponse != null )
        {
            response.ContentType = serverResponse.ContentType;
            System.Diagnostics.Debug.WriteLine( response.ContentType.ToString() );
            using( Stream byteStream = serverResponse.GetResponseStream() )
            {
                // A MasasHub typically should only be returning us Atom or CAP, but we'll accept Json and text, too 
                string contentType = serverResponse.ContentType;
                if( contentType.Contains( "application/common-alerting-protocol+xml" ) ||
                    contentType.Contains( "application/atom+xml" ) ||
                    contentType.Contains( "text" ) ||
                    contentType.Contains( "json" ) )
                {
                    using( StreamReader sr = new StreamReader( byteStream ) )
                    {
                        string strResponse = sr.ReadToEnd();
                        response.CacheControl = "no-cache";
                        response.Write( strResponse );
                    }
                }
                else
                {
                    // Binary response (image, other binary file, etc )
                    BinaryReader br = new BinaryReader( byteStream );
                    byte[] outb = br.ReadBytes( (int)serverResponse.ContentLength );
                    br.Close();

                    // Tell client not to cache the image since it's dynamic
                    response.CacheControl = "no-cache";

                    // Send the image to the client
                    // (Note: if large images/files sent, could modify this to send in chunks)
                    response.OutputStream.Write( outb, 0, outb.Length );
                }

                serverResponse.Close();
            }
        }
        response.End();
    }

    public bool IsReusable
    {
        get
        {
            return false;
        }
    }

    // Gets the token for a server URL from a configuration file
    // TODO: ?modify so can generate a new short-lived token from username/password in the config file
    private string getTokenFromConfigFile( string uri )
    {
        try
        {
            ProxyConfig config = ProxyConfig.GetCurrentConfig();
            if( config != null )
                return config.GetToken( uri );
            else
                throw new ApplicationException(
                    "proxy.config file does not exist at application root, or is not readable." );
        }
        catch( InvalidOperationException )
        {
            // Proxy is being used for an unsupported service (proxy.config has mustMatch="true")
            HttpResponse response = HttpContext.Current.Response;
            response.StatusCode = (int)System.Net.HttpStatusCode.Forbidden;
            response.End();
        }
        catch( Exception e )
        {
            if( e is ApplicationException )
                throw e;

            // just return an empty string at this point
            // -- may want to throw an exception, or add to a log file
        }

        return string.Empty;
    }



}

[XmlRoot( "ProxyConfig" )]
public class ProxyConfig
{
    #region Static Members

    private static object _lockobject = new object();

    public static ProxyConfig LoadProxyConfig( string fileName )
    {
        ProxyConfig config = null;

        lock( _lockobject )
        {
            if( System.IO.File.Exists( fileName ) )
            {
                XmlSerializer reader = new XmlSerializer( typeof( ProxyConfig ) );
                using( System.IO.StreamReader file = new System.IO.StreamReader( fileName ) )
                {
                    config = (ProxyConfig)reader.Deserialize( file );
                }
            }
        }

        return config;
    }

    public static ProxyConfig GetCurrentConfig()
    {
        ProxyConfig config = HttpRuntime.Cache["proxyConfig"] as ProxyConfig;
        if( config == null )
        {
            string fileName = GetFilename( HttpContext.Current );
            config = LoadProxyConfig( fileName );

            if( config != null )
            {
                CacheDependency dep = new CacheDependency( fileName );
                HttpRuntime.Cache.Insert( "proxyConfig", config, dep );
            }
        }

        return config;
    }

    public static string GetFilename( HttpContext context )
    {
        return context.Server.MapPath( "~/proxy.config" );
    }
    #endregion

    ServerUrl[] serverUrls;
    bool mustMatch;

    [XmlArray( "serverUrls" )]
    [XmlArrayItem( "serverUrl" )]
    public ServerUrl[] ServerUrls
    {
        get { return this.serverUrls; }
        set { this.serverUrls = value; }
    }

    [XmlAttribute( "mustMatch" )]
    public bool MustMatch
    {
        get { return mustMatch; }
        set { mustMatch = value; }
    }

    public string GetToken( string uri )
    {
        foreach( ServerUrl su in serverUrls )
        {
            if( su.MatchAll && uri.StartsWith( su.Url, StringComparison.InvariantCultureIgnoreCase ) )
            {
                return su.Token;
            }
            else
            {
                if( String.Compare( uri, su.Url, StringComparison.InvariantCultureIgnoreCase ) == 0 )
                    return su.Token;
            }
        }

        if( mustMatch )
            throw new InvalidOperationException();

        return string.Empty;
    }
}

public class ServerUrl
{
    string url;
    bool matchAll;
    string token;

    [XmlAttribute( "url" )]
    public string Url
    {
        get { return url; }
        set { url = value; }
    }

    [XmlAttribute( "matchAll" )]
    public bool MatchAll
    {
        get { return matchAll; }
        set { matchAll = value; }
    }

    [XmlAttribute( "token" )]
    public string Token
    {
        get { return token; }
        set { token = value; }
    }
}

[Serializable]
public class ProxyErrorWebResponse
{

    public ProxyErrorWebResponse()
    {

    }

    public ProxyErrorWebResponse( string server, string responseUri, string message, string source, int statusCode, string statusDesc )
    {
        _server = server;
        _responseUri = responseUri;
        _message = message;
        _source = source;
        _statusCode = statusCode;
        _statusDesc = statusDesc;
    }

    private string _server = "MASAS Proxy";
    public string server
    {
        get
        {
            return _server;
        }
        set
        {
            _server = value;
        }
    }

    private string _responseUri = "proxy.ashx";
    public string responseUri
    {
        get
        {
            return _responseUri;
        }
        set
        {
            _responseUri = value;
        }
    }

    private string _message = "Unexpected error in Masas Proxy";
    public string message
    {
        get
        {
            return _message;
        }
        set
        {
            _message = value;
        }
    }

    private string _source = "";
    public string source
    {
        get
        {
            return _source;
        }
        set
        {
            _source = value;
        }
    }

    private int _statusCode = -1;
    public int statusCode
    {
        get
        {
            return _statusCode;
        }
        set
        {
            _statusCode = value;
        }
    }


    private string _statusDesc = "";
    public string statusDesc
    {
        get
        {
            return _statusDesc;
        }
        set
        {
            _statusDesc = value;
        }
    }

}